#home{

    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 625px;
    height: 100vh;
    justify-content: center;
    gap: 50px;

    #text{

        color: rgb(241,241,241);
        display: grid;
        row-gap: 10px;
        width: 100%;

        #titletext{

            font-size: 55px;
            justify-self: center;            
            transition-delay: 0.5s;
            transition-duration: 1.5s;
            transition-property: color;
            transition-timing-function: linear;
            word-spacing: 5px;

            &:hover{

                color: #8257e5;
                
            }
        }

        span{
            font-weight: bold;
            justify-self: center;
        }

    }

    #homebuttons{

        display: flex;
        gap: 10px;
        justify-content: center;
        
    }
}


