body{
                    
    background-color: #161616;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;;
    min-height: 625px;
    margin: 0px;
    
    #root{

            
        background-color: #161616;
        min-height: 625px;
        height: auto;
        margin: 0px;

    }

}


@media only screen and(max-width: 1000px){

    #home{
        
        #text{
            #smalltext1{
                justify-self: center;
                width: 90%;
            }
            #smalltext2{
                justify-self: center;
                width: 90%;
            }
        }

        #homebuttons{
            display: grid;
        }
    }

    #cadastrarpage{
        #text{
            width: 100%;
            h2{
                font-size: 40px;
            }
            span{
                justify-self: flex-start;
                font-size: 15px;     
            }
        }
    }

    #login{
        h2{
            font-size: 30px;
        }
    }

    #homecliente{

        grid-template-columns: 100%;
        height: max-content;
        row-gap: 20px;
        #userProfile{
            grid-row: 1;
            grid-template-rows: 40px 200px 200px 200px;
            #user{
                height: 40px;
            }
            #createchannel{
                overflow: unset;
                border-bottom: 1px solid #8257e5;
            }
        }

        #chat{
            grid-row: 2;
            grid-column: 1;
            row-gap: 15%;
            #showmensagem{
                border: 1px solid #8257e5;
                justify-self: center;
                width: 80%;
            }

            #sendmensagemarea{
                display: grid;
                grid-template-columns: 100%;

                #writemensage{
                    margin: 0px;
                }

                #enviarmensagem{
                    width: 50%;
                    margin: 0px;
                }
            }   
        }
    }
}

@media only screen and(min-height: 951px){
    #home{
        min-height: 961px;
    }

    #cadastrarpage{
        min-height: 961px;
    }

    #login{
        min-height: 961px;
        grid-template-rows: 30% 70%;
        h2{
            font-size: 60px;
        }
    }   

    #homecliente{
        
        min-height: 961px;

        #userProfile{
           min-height: 961; 
        }

        #chat{

            #showmensagem{
                min-height: 100%;
            }
        }
    }
}